body{
    font-family: 'Roboto', sans-serif;
    background-color: #b2ebf2; 
    opacity: 1;
    transition: 1s opacity;
}
.nav-wrapper{
    background-color: #006064;
}
.welcome{
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.container{
    background-color: white;
 
}

  

  
  body.fade-out {
    background-color:white;
    opacity: 0;
    transition: 1s opacity;
  }
  body.faded-out{
    opacity: 0;
    transition: 1s opacity;
  }